@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(38, 38, 38, 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-title {
  color: white;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px;
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: space-evenly;
}

.login-image {
  border-radius: 20px;
  margin: 30px;
  max-width: 40vw;
}

.signup-label {
  margin-top: 50px;
}

.dashboard-image {
  border-radius: 20px;
  margin: 40px;
  max-width: 35vw;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.profile-container {
  background-color: #f8f7f9ff;
  border-radius: 20px;
  color: rgba(38, 38, 38, 1);
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: 40px auto;
  padding: 40px;
}

.profile-title {
  font-size: 26px;
}

.profile-element {
  margin-top: 40px;
}

.profile-label {
  max-width: 20vw;
}
