{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 1,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-comment": "off",
    "indent": ["error", 2],
    "keyword-spacing": "error",
    "linebreak-style": ["error", "unix"],
    "no-undef": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["off"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "space-before-blocks": "error",
    "space-before-function-paren": "error"
  }
}